name: 'Build AnimekoEnhanced'

on:
  push:
    branches:
      - main
      - develop
    paths-ignore:
      - '**/*.md'
      - '.idea/**'
      - '.readme/**'
      - 'scripts/*'
  pull_request:
    paths-ignore:
      - '**/*.md'
      - '.idea/**'
      - '.readme/**'
      - 'scripts/*'
  workflow_dispatch:

concurrency:
  group: '${{ github.workflow }}-${{ github.event_name }}-${{ github.ref_name == ''main'' && github.run_id || github.ref_name }}'
  cancel-in-progress: true

jobs:
  build-windows:
    name: 'Build Windows x64'
    runs-on: windows-2022
    permissions:
      actions: 'write'
    steps:
      - name: 'Checkout'
        uses: 'actions/checkout@v4'
        with:
          submodules: 'recursive'

      - name: 'Setup local.properties'
        continue-on-error: true
        shell: bash
        run: |
          rm -f local.properties
          echo "kotlin.native.ignoreDisabledTargets=true" >> local.properties

      - name: 'Get JBR for Windows'
        env:
          RUNNER_TOOL_CACHE: '${{ runner.tool_cache }}'
          JBR_URL: 'https://cache-redirector.jetbrains.com/intellij-jbr/jbrsdk_jcef-21.0.5-windows-x64-b750.29.tar.gz'
          JBR_CHECKSUM_URL: 'https://cache-redirector.jetbrains.com/intellij-jbr/jbrsdk_jcef-21.0.5-windows-x64-b750.29.tar.gz.checksum'
        shell: cmd
        run: 'python .github/workflows/download_jbr.py'

      - name: 'Setup JBR 21 for Windows'
        uses: 'gmitch215/setup-java@6d2c5e1f82f180ae79f799f0ed6e3e5efb4e664d'
        with:
          java-version: '21'
          distribution: 'jdkfile'
          jdkFile: '${{ steps.step-6.outputs.jbrLocation }}'
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'

      - name: 'Dump Local Properties'
        run: 'echo "jvm.toolchain.version=21" >> local.properties'

      - name: 'Setup Gradle'
        uses: 'gradle/actions/setup-gradle@v3'
        with:
          cache-disabled: 'false'

      - name: 'Build Desktop Application'
        run: './gradlew createReleaseDistributable --scan --stacktrace'
        timeout-minutes: 60

      - name: 'Upload Windows Portable'
        uses: 'actions/upload-artifact@v4'
        with:
          name: 'animekoenhanced-windows-x64'
          path: 'app/desktop/build/compose/binaries/main-release/app'
          if-no-files-found: 'error'
          retention-days: 30

  build-linux:
    name: 'Build Linux x64'
    runs-on: ubuntu-24.04
    permissions:
      actions: 'write'
    steps:
      - name: 'Checkout'
        uses: 'actions/checkout@v4'
        with:
          submodules: 'recursive'

      - name: 'Free Disk Space'
        uses: 'jlumbroso/free-disk-space@v1.3.1'
        with:
          android: 'false'
          large-packages: 'false'
          tool-cache: 'false'

      - name: 'Setup local.properties'
        continue-on-error: true
        run: |
          rm -f local.properties
          echo "kotlin.native.ignoreDisabledTargets=true" >> local.properties

      - name: 'Get JBR for Linux'
        env:
          RUNNER_TOOL_CACHE: '${{ runner.tool_cache }}'
          JBR_URL: 'https://cache-redirector.jetbrains.com/intellij-jbr/jbrsdk_jcef-21.0.5-linux-x64-b750.29.tar.gz'
          JBR_CHECKSUM_URL: 'https://cache-redirector.jetbrains.com/intellij-jbr/jbrsdk_jcef-21.0.5-linux-x64-b750.29.tar.gz.checksum'
        shell: bash
        run: 'python .github/workflows/download_jbr.py'

      - name: 'Setup JBR 21 for Linux'
        uses: 'gmitch215/setup-java@6d2c5e1f82f180ae79f799f0ed6e3e5efb4e664d'
        with:
          java-version: '21'
          distribution: 'jdkfile'
          jdkFile: '${{ steps.step-8.outputs.jbrLocation }}'
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'

      - name: 'Dump Local Properties'
        run: 'echo "jvm.toolchain.version=21" >> local.properties'

      - name: 'Setup Gradle'
        uses: 'gradle/actions/setup-gradle@v3'
        with:
          cache-disabled: 'false'

      - name: 'Build Android APKs'
        run: './gradlew assembleDebug --scan --stacktrace'
        timeout-minutes: 60

      - name: 'Upload Android APK arm64-v8a'
        uses: 'actions/upload-artifact@v4'
        with:
          name: 'animekoenhanced-android-arm64-v8a'
          path: 'app/android/build/outputs/apk/debug/android-arm64-v8a-debug.apk'
          retention-days: 30

      - name: 'Upload Android APK universal'
        uses: 'actions/upload-artifact@v4'
        with:
          name: 'animekoenhanced-android-universal'
          path: 'app/android/build/outputs/apk/debug/android-universal-debug.apk'
          retention-days: 30

      - name: 'Build Desktop Application'
        run: './gradlew createReleaseDistributable --scan --stacktrace'
        timeout-minutes: 60

      - name: 'Build AppImage'
        run: |
          # Download appimagetool
          wget https://github.com/AppImage/appimagetool/releases/download/continuous/appimagetool-x86_64.AppImage
          chmod +x appimagetool-x86_64.AppImage

          # Prepare AppDir
          mkdir -p AppDir/usr
          cp -r app/desktop/build/compose/binaries/main-release/app/Ani/* AppDir/usr

          cp app/desktop/appResources/linux-x64/AppRun AppDir/AppRun
          cp app/desktop/appResources/linux-x64/animeko.desktop AppDir/animeko.desktop
          cp app/desktop/appResources/linux-x64/icon.png AppDir/icon.png

          # Fix permissions
          chmod a+x AppDir/AppRun
          chmod a+x AppDir/usr/bin/Ani
          chmod a+x AppDir/usr/lib/runtime/lib/jcef_helper || true

          # Build AppImage
          ARCH=x86_64 ./appimagetool-x86_64.AppImage AppDir

      - name: 'Upload Linux AppImage'
        uses: 'actions/upload-artifact@v4'
        with:
          name: 'animekoenhanced-linux-x64-appimage'
          path: 'Animeko-x86_64.AppImage'
          if-no-files-found: 'error'
          retention-days: 30

  build-macos:
    name: 'Build macOS'
    runs-on: macos-14
    permissions:
      actions: 'write'
    steps:
      - name: 'Checkout'
        uses: 'actions/checkout@v4'
        with:
          submodules: 'recursive'

      - name: 'Setup local.properties'
        continue-on-error: true
        run: |
          rm -f local.properties
          echo "kotlin.native.ignoreDisabledTargets=true" >> local.properties

      - name: 'Resolve JBR location'
        id: resolve_jbr
        shell: bash
        run: |
          jbr_location_expr='${{ runner.tool_cache }}/jbrsdk_jcef-21.0.8-osx-aarch64-b1038.68.tar.gz'
          echo "jbrLocation=$jbr_location_expr" >> $GITHUB_OUTPUT

      - name: 'Get JBR for macOS'
        env:
          jbrLocation: '${{ steps.resolve_jbr.outputs.jbrLocation }}'
        shell: bash
        run: |
          jbr_location="$jbrLocation"
          checksum_url="https://cache-redirector.jetbrains.com/intellij-jbr/jbrsdk_jcef-21.0.8-osx-aarch64-b1038.68.tar.gz.checksum"
          checksum_file="checksum.tmp"
          wget -q -O $checksum_file $checksum_url

          expected_checksum=$(awk '{print $1}' $checksum_file)
          file_checksum=""

          if [ -f "$jbr_location" ]; then
              file_checksum=$(shasum -a 512 "$jbr_location" | awk '{print $1}')
          fi

          if [ "$file_checksum" != "$expected_checksum" ]; then
              wget -q --tries=3 https://cache-redirector.jetbrains.com/intellij-jbr/jbrsdk_jcef-21.0.8-osx-aarch64-b1038.68.tar.gz -O "$jbr_location"
              file_checksum=$(shasum -a 512 "$jbr_location" | awk '{print $1}')
          fi

          if [ "$file_checksum" != "$expected_checksum" ]; then
              echo "Checksum verification failed!" >&2
              rm -f $checksum_file
              exit 1
          fi

          rm -f $checksum_file
          file "$jbr_location"

      - name: 'Setup JBR 21 for macOS'
        uses: 'gmitch215/setup-java@6d2c5e1f82f180ae79f799f0ed6e3e5efb4e664d'
        with:
          java-version: '21'
          distribution: 'jdkfile'
          jdkFile: '${{ steps.resolve_jbr.outputs.jbrLocation }}'
        env:
          GITHUB_TOKEN: '${{ secrets.GITHUB_TOKEN }}'

      - name: 'Dump Local Properties'
        run: 'echo "jvm.toolchain.version=21" >> local.properties'

      - name: 'Setup Gradle'
        uses: 'gradle/actions/setup-gradle@v3'
        with:
          cache-disabled: 'false'

      - name: 'Build Desktop Application'
        run: './gradlew createReleaseDistributable --scan --stacktrace -Pani.android.abis=arm64-v8a'
        timeout-minutes: 60

      - name: 'Upload macOS App'
        uses: 'actions/upload-artifact@v4'
        with:
          name: 'animekoenhanced-macos-aarch64'
          path: 'app/desktop/build/compose/binaries/main-release/app/Ani.app'
          if-no-files-found: 'error'
          retention-days: 30
